h1 {
	background-color:#52527a;
}

div {
	position: relative;
}

.jumbotron {
    background-color: white;
    color: black;
    margin: 20px;
    padding: 20px;
    clear: left;
}

div {
    	 border-radius: 5px;
    	 border-color: #000000;
}

.contenido {
    	text-align: center;
}

nav {
	background-color:  #4d0099;
    margin-top: -8px;
}

.pie {
	background-color: #666699;
	width: auto;
	height: 450px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}   

.map-container-5 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.contenedor {
	height: 450px;
	width: auto;
    font-family: 'Righteous', cursive;
}

#arriba {
    /*"boton" para subir*/
position:fixed ;
top: 80%;
right: 3%;
}

form.needs-validation {
    border: #1F85FF outset;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
    background-color: #D3FFFA;
}

.cuerpoForm {
    background-color: #52527a;
}

#navForm {
    margin-top: -5px;
}

body {
    font-family: 'Righteous', cursive;
}

#galeria img {
border: 10px solid #E3FFFC;
border-radius: 10px;
margin: 30px;
}

#galeria {
    width: 1200px;
    margin:0 auto;
    background-color: #52527a;
}

li {
    list-style: none;
}

.tabla {
    width: auto;
    height: 750px;
    margin: 10px;
    padding: 10px; 
}
